.promo {  
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.svg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        color: white;
        margin-top: 10px;
        width: 535px;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: white;
        font-weight: bold;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
    &__subtitle{
        color: white;
        padding-left: 10px;
        position: relative;
        z-index: 2;
        @include before_circle;
    }
}


